.film__container {
  position: relative;
  align-items: center;
  height: 281px;
  width: 454px;
  display: flex;
  font-size: 10px;
  margin-top: 10px;
  padding: 0;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);


  @media (max-width: 320px) {
    height: 245px;
    width: 387px;
    display: block;
  }
}

.film__img {
  height: 100%;

  @media (max-width: 320px) {
    height: 91px;
    width: 60px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.film__name {
  @media (max-width: 320px) {

  }
}

.film__date_created{
  @media (max-width: 320px) {

  }
}

.film__tags{
  background: #FAFAFA;
  display: inline;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  margin: 0 3px 10px 0;
  padding: 0 3px;

  @media (max-width: 320px) {
    margin-bottom: 20px;
  }
}

.film__about{
  margin: 0 20px 0 20px;
  text-align: left;

  @media (max-width: 320px) {
    margin: 10px;
  }
}


.film__text {
  @media (max-width: 320px) {
    float: inherit;
  }
}

.film__circle-rating {
  position: absolute;
  top:10px;
  right: 10px;
  border: 2px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;


  p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 11px;

  }
}

.circle-rating__red {
  border-color: #E90000;
}

.circle-rating__orange {
  border-color: #E97E00;
}

.circle-rating__yellow {
  border-color: #E9D100;
}

.circle-rating__green {
  border-color: #66E900;
}

.rating-area {
  overflow: hidden;
  width: 230px;
  margin: 0 auto;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 20px;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  line-height: 15px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: '★';
}
.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}
