.film__container {
  position: relative;
  align-items: center;
  height: 281px;
  width: 454px;
  display: flex;
  font-size: 10px;
  margin-top: 10px;
  padding: 0;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);


  @media (max-width: 320px) {
    height: 245px;
    width: 387px;
    display: block;
  }
}

.film__img {
  height: 100%;

  @media (max-width: 320px) {
    height: 91px;
    width: 60px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.film__name {
  @media (max-width: 320px) {

  }
}

.film__date_created{
  @media (max-width: 320px) {

  }
}

.film__tags{
  @media (max-width: 320px) {
    margin-bottom: 20px;
  }
}

.film__about{
  margin: 0 20px 0 20px;
  text-align: left;

  @media (max-width: 320px) {
    margin: 10px;
  }
}


.film__text {
  @media (max-width: 320px) {
    float: inherit;
  }
}

.film__circle-rating {
  position: absolute;
  top:10px;
  right: 10px;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 11px;

  }
}
