.film__container {
  position: relative;
  align-items: center;
  height: 281px;
  width: 454px;
  display: flex;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
@media (max-width: 420px) {
  .film__container {
    height: 245px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.film__img {
  height: 100%;
  width: 183px;
}
@media (max-width: 420px) {
  .film__img {
    height: 91px;
    width: 60px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.film__about {
  position: relative;
  height: 270px;
  margin: 0 10px 0 10px;
  text-align: left;
  max-width: 300px;
}
@media (max-width: 420px) {
  .film__about {
    margin: 10px;
    height: 245px;
    max-width: 400px;
  }
}

.film__name {
  position: absolute;
  top: 5px;
  max-width: 200px;
  height: 40px;
}

@media (max-width: 420px) {
  .film__name {
    left: 70px;
    width: 50%;
    height: 40px;
  }
}

.film__date_created{
  position: absolute;
  top: 50px;
  color: #827E7E;
}

@media (max-width: 420px) {
  .film__date_created {
    top: 50px;
    left: 70px;
  }
}

.film__tags {
  position: absolute;
  top: 70px;
  max-width: 250px;
}

@media (max-width: 420px) {
  .film__tags {
    left: 70px;
    top: 65px;
  }
}

.film__tag {
  margin: 0;
  padding: 0 3px;
  display: inline-block;
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}

.film__text {
  position: relative;
  top: 110px;
  min-width: 250px;
}

@media (max-width: 420px) {
  .film__text {
    float: left;
    top: 10px;
    max-width: 100%;
  }
}

.film__stars {
  position: absolute;
  bottom: 15px;
  left: 10px;
  max-width: 250px;
  font-size: 15px;
}

@media (max-width: 420px) {
  .film__stars {
    left: auto;
    bottom: 10px;
    right: 10px;
  }
}

.film__circle-rating {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.film__circle-rating p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
}

.circle-rating__red {
  border-color: #E90000;
}

.circle-rating__orange {
  border-color: #E97E00;
}

.circle-rating__yellow {
  border-color: #E9D100;
}

.circle-rating__green {
  border-color: #66E900;
}
