@import '~antd/dist/antd.css';

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1010px;
  min-height: 1000px;
  background: white;

  @media (max-width: 320px){
    margin: 10px;
  }
}

.pagination__container{
  margin-bottom: 20px;
}
