@import '~antd/dist/antd.css';

.container {
  text-align: center;
  border: 2px black solid;
  max-width: 1010px;
  min-height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.pagination__container{
  margin-bottom: 20px;
}
