.films-list__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 907px;
  list-style-type:none;

  @media (max-width: 320px){
    flex-wrap: nowrap;
    height: 100%;
    padding: 0;
  }
}
