.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1010px;
  min-height: 1000px;
  background: white;

}

.pagination__container{
  margin-bottom: 20px;
}

.error__message{
  text-align: center;
}

ul {
  padding-inline-start: 0;
}
